.sidebar .nav-item,
.sidebar .nav-group {
    padding: 0 1rem;
    transition: padding 300ms ease-in-out, border-radius 300ms ease-in-out;
}
.sidebar .nav-link:hover,
.sidebar .nav-group:hover,
.sidebar .nav-link.active {
    border-radius: 6px !important;
}
