<div class="sidebar sidebar-dark sidebar-fixed min-vh-100" id="sidebar">
    <div class="sidebar-brand d-none d-md-flex">
        <img class="sidebar-brand-full" src="~/Content/assets/svg/icon-logo-full.svg" alt="" />
        <img class="sidebar-brand-narrow" src="~/Content/assets/svg/icon-logo-narrow.svg" alt="" />
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
        <li class="nav-title">Main Navigation</li>
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="nav-icon cil-gauge"></i>
                Dashboard
            </a>
        </li>
        <li class="nav-title">Admin Navigation</li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="nav-icon cil-user"></i>
                Employees
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="nav-icon cil-building"></i>
                Department
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="nav-icon cil-location-pin"></i>
                Designation
            </a>
        </li>
        <li class="nav-title">Components</li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="nav-icon cil-text"></i>
                Typography
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="nav-icon cil-pen"></i>
                Forms
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="nav-icon cil-color-palette"></i>
                Color Scheme
            </a>
        </li>
        <li class="nav-group">
            <a class="nav-link nav-group-toggle" href="#">
                <i class="nav-icon cil-filter"></i>
                Components
            </a>
            <ul class="nav-group-items">
                <li class="nav-item">
                    <a class="nav-link" href="#">Buttons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Alerts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Toastr</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Modal</a>
                </li>
            </ul>
        </li>
        <li class="nav-group">
            <a class="nav-link nav-group-toggle" href="#">
                <i class="nav-icon cil-filter"></i>
                Plugins
            </a>
            <ul class="nav-group-items">
                <li class="nav-item">
                    <a class="nav-link" href="#">Custom JQuery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Select2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Datatables</a>
                </li>
            </ul>
        </li>
    </ul>
    <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
</div>