// Color theme
$white: #ffffff;
$theme-colors: (
	"light": #ffffff,
	"dark": #2d3235,
	"primary": #302c48,
	"secondary": #2d3235,
	"info": #b8bdcf,
	"success": #4ce97e,
	"warning": #e4ff40,
	"danger": #ea5151,
) !default;

$headings-font-weight: 700;
// Buttons
$input-btn-padding-y: 0.375rem !default;
$input-btn-padding-x: 1.75rem !default;
$input-btn-focus-width: 0.15 !default;
$input-btn-focus-color-opacity: 0.15 !default;
$input-btn-focus-box-shadow: 0 0 0 1px rgba(0, 17, 255, 0.25) !default;

$btn-active-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.125) !default;

$btn-border-radius: 5px !default;
$btn-border-radius-sm: $btn-border-radius !default;
$btn-border-radius-lg: $btn-border-radius !default;

$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, transform 0.1s ease-in-out, box-shadow 0.15s ease-in-out !default;

label.btn:active,
span.btn:active,
a.btn:active,
button:active {
	transform: scale(96%);
}

.sidebar .nav-item,
.sidebar .nav-group {
	padding: 0 1rem;
	transition: padding 300ms ease-in-out, border-radius 300ms ease-in-out;
}
.sidebar .nav-link:hover,
.sidebar .nav-group:hover,
.sidebar .nav-link.active {
	border-radius: 6px !important;
}

.btn {
	position: relative;
	overflow: hidden;
	span {
		display: block;
		width: 50px;
		height: 50px;
		top: 50%;
		left: 50%;
		right: 50%;
		margin-left: -25px;
		margin-top: -25px;
		position: absolute;
		border-radius: 50%;
		animation: btn-touch-effect 2s;
	}
}

@each $name, $color in $theme-colors {
	.btn-#{$name} span {
		background-color: lighten($color, 23%);
	}
	.btn-outline-#{$name} span {
		background-color: lighten($color, 23%);
	}
}

@keyframes btn-touch-effect {
	from {
		transform: scale(1);
		opacity: 0.5;
	}
	to {
		transform: scale(100);
		opacity: 0;
	}
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "coreui-layout";
